Repository torbencarstens/event-manager-frontend, changes with the labels that .github/labeler.yml gives for each.
All labels: rust, cargo, database, sql, graphql

.github/labeler.yml:

rust:
  - src/**/*.rs

cargo:
  - Cargo.*

database:
  - database/*
  - src/database/*

sql:
  - ./**/*.sql

graphql:
  - ./**/*.graphql

Add publish workflow
  .github/workflows/publish.yml
Labels: none

Add publish to docker/k8s workflow
  .github/workflows/publish.yml
Labels: none

All of dem updates
  Dockerfile
  public/index.css
  resources/events.graphql
  resources/schema.graphql
  resources/tags.graphql
  src/helper.rs
  src/lib.rs
  src/main.rs
  templates/event.hbs
  templates/header.hbs
  templates/location_inline.hbs
  templates/location_list_item.hbs
  templates/locations.hbs
  templates/tag.hbs
  templates/tag_inline.hbs
Labels: rust, graphql

Update naming
  .github/workflows/publish.yml
Labels: none

Read BACKEND_URL from environment
  Rocket.toml
  src/lib.rs
  src/main.rs
  src/pagination.rs
Labels: rust

Add .kubernetes folder
  .kubernetes/manifest.yaml
Labels: none

[temp] Use production backend
  src/lib.rs
Labels: rust

Update backend_url logic
  src/lib.rs
Labels: rust

Update configmap
  .kubernetes/manifest.yaml
Labels: none

Minor css updates and display links in description in a tags
  public/index.css
  resources/location.graphql
  src/helper.rs
  src/main.rs
  templates/event.hbs
Labels: rust, graphql

Add location edit form
  public/index.css
  resources/mutations/location.graphql
  resources/schema.graphql
  src/main.rs
  templates/edit/location.hbs
Labels: rust, graphql
